@use "global" as *;

.about {
  margin-top: rem(80);
  margin-bottom: rem(70);
  @include mq(md) {
    margin-top: rem(140);
    margin-bottom: rem(164);
  }
}

.about__inner {
  @include mq(md) {
    position: relative;
  }
}

.about__content {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.about__decoration {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    bottom: -5.6875rem;
    right: calc(50% - min(48.4vw, 39.875rem));
    width: 12.125rem;
  }
}

.about__decoration img {
  @include mq(md) {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}
