@use "global" as *;

.blog__inner {
  @include mq(md) {
    position: relative;
  }
}

.blog__inner::before {
  @include mq(md) {
    content: "";
    background: url(../images/common/fish.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(437);
    height: rem(201);
    top: rem(-70);
    left: calc(50% - min(48.4vw, 38.875rem));
  }
}

.blog__cards {
  margin-top: rem(28);
  display: grid;
  gap: rem(40);
  @include mq(md) {
    margin-top: rem(80);
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog__cards a:hover {
  opacity: 0.7;
}

.blog__btn {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}
