@use "global" as *;

.contact {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(140);
  }
}

.contact__boxes {
  position: relative;
}

.contact__decoration1 {
  display: block;
  position: absolute;
  top: -1.5875rem;
  right: calc(50% - min(45.4vw, 41.875rem));
  width: rem(109);
  @include mq(md) {
    width: rem(301);
    top: -2.6875rem;
    right: calc(50% - min(46.4vw, 41.875rem));
  }
}
