@use "global" as *;

.information {
  background-color: $sub-bg-color;
  padding-top: rem(80);
  padding-bottom: rem(80);
  margin-top: rem(70);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(76);
    margin-top: rem(164);
  }
}

.information__inner {
  width: 100%;
  @include mq(md) {
    max-width: calc(rem(1080) + $padding-pc * 2);
  }
}

.information__item {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(40);
  }
}
