@use "global" as *;

.sub-breadcrumb {
    position: relative;
}

.sub-breadcrumb::before {
    @include mq(md) {
        content: "";
        background-color: $accent-color;
        mask-image: url(../images/common/illust1.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        transform: scale(-1, 1);
        position: absolute;
        z-index: -1;
        width: rem(205);
        height: rem(234);
        top: rem(48);
        left: calc(50% - min(48.4vw, 32.875rem));
    }
}