@use "global" as *;

.sub-footer {
  margin-top: rem(100);
  @include mq(md) {
    margin-top: rem(160);
  }
}

.sub-footer--thanks {
  margin-top: rem(144);
  @include mq(md) {
    margin-top: rem(120);
  }
}