@use "global" as *;

.sub-gallery {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(120);
    position: relative;
  }
}

.sub-gallery::after {
  @include mq(md) {
    content: "";
    background: url(../images/common/fish-color.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(301);
    height: rem(138);
    top: rem(-78);
    right: calc(50% - min(46.4vw, 39.875rem));
  }
}
