@use "global" as *;

.top-blog {
  padding-top: rem(80);
  @include mq(md) {
    padding-top: rem(100);
    position: relative;
  }
}

.top-blog:before {
  @include mq(md) {
    content: "";
    display: inline-block;
    position: absolute;
    background: url(../images/common/blog-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 60.4938957%;
    max-height: rem(500);
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.top-blog::after {
  @include mq(md) {
    content: "";
    background: url(../images/common/fish.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(437);
    height: rem(201);
    top: rem(20);
    left: calc(50% - min(48.4vw, 38.875rem));
  }
}