@use "global" as *;

.top-price {
  background-color: $sub-bg-color;
  padding-top: rem(80);
  padding-bottom: rem(80);
  margin-top: rem(80);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
    margin-top: rem(140);
    position: relative;
  }
}

.top-price::after {
  @include mq(md) {
    content: "";
    background: url(../images/common/fish-color.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(437);
    height: rem(201);
    bottom: rem(60);
    left: calc(50% - min(48.4vw, 38.875rem));
  }
}