@use "global" as *;

.voice {
  margin-top: rem(80);
  margin-bottom: rem(80);
  @include mq(md) {
    margin-top: rem(140);
    margin-bottom: rem(140);
    position: relative;
  }
}

.voice__decoration1 {
  display: none;
  @include mq(md) {
    display: block;
    transform: scale(-1, 1);
    position: absolute;
    top: rem(-120.75);
    left: calc(50% - min(48.4vw, 38.875rem));
    width: rem(301);
  }
}

.voice__decoration2 {
  display: none;
  @include mq(md) {
    display: block;
    position: absolute;
    bottom: rem(-65);
    right: calc(50% - min(48.4vw, 33.8rem));
    width: rem(71);
  }
}

.voice__cards {
  margin-top: rem(44);
  display: flex;
  flex-direction: column;
  gap: rem(38);
  @include mq(md) {
    margin-top: rem(30);
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.voice__card {
  width: 100%;
  @include mq(md) {
    max-width: calc(50% - rem(40) / 2);
  }
}

.voice__btn {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
