@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$english-main-font-family: 'Gotu', sans-serif;
$english-sub-font-family: 'Lato', sans-serif;
$japanese-font-family: 'Noto Sans JP', sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
$normal: 500;
$bold: 700;

body {
    font-family: $japanese-font-family;
    font-weight: $regular;
    position: relative;
}

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
// $black: #323030;
// $white: #fff;
// $accent-color: #C29545;
// $main-bg-color: #882426;
// $sub-bg-color: #CDBEA7;

// $black: #4F4A45;
// $white: #fff;
// $accent-color: #CDAB81;
// $main-bg-color: #6C5F5B;
// $sub-bg-color: #DAC3B3;

$black: #323030;
$white: #fff8f7;
// $accent-color: #ec5a55;
$accent-color: #CF7F72;
$main-bg-color: #a53f3f;
$sub-bg-color: #EFDDD5;


// #0D2936
// #F2F2F2
// #408F95
// #DDF0F1