@use "global" as *;

.aside-heading {
    text-align: left;
}

.aside-heading__title {
    display: inline-block;
    padding-top: rem(9);
    padding-bottom: rem(6);
    padding-left: rem(74);
    padding-right: rem(20);
    vertical-align: auto;
    color: $black;
    font-family: $japanese-font-family;
    font-size: rem(24);
    font-weight: $regular;
    line-height: calc(35 / 24);
    border-left: 8px solid $main-bg-color;
    position: relative;
}