@use "global" as *;

.aside-campaign {
  margin-top: rem(80);
}

.aside-campaign__cards {
  margin-top: rem(24);
}

.aside-campaign__btn {
  margin-top: rem(40);
  text-align: center;
}

.aside-campaign .aside-heading__title::before {
    background-color: $accent-color;
    content: "";
    display: inline-block;
    mask-image: url(../images/common/flag.svg);
    mask-repeat: no-repeat;
    mask-size: cover;
    position: absolute;
    width: rem(38);
    height: rem(44);
    top: 50%;
    left: rem(20);
    transform: translateY(-50%);
}