@use "global" as *;

.aside-review-rating {
  margin-top: rem(80);
}

.aside-review-rating__voice-card {
  margin-top: rem(24);
}

.aside-review-rating__btn {
  margin-top: rem(44);
  text-align: center;
}