@use "global" as *;

.blog__cards {
    margin-top: rem(28);
    @include mq(md) {
        margin-top: rem(80);
    }
}

.blog__cards a:hover {
    opacity: 0.7;
}

.blog__btn {
    margin-top: rem(40);
    text-align: center;
    @include mq(md) {
        margin-top: rem(80);
    }
}
