@use "global" as *;

.breadcrumb {
  color: $black;
  font-family: $japanese-font-family;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(20 / 14);
}

.breadcrumb--404 {
  padding-top: rem(88);
  color: $white;
  @include mq(md) {
    padding-top: rem(90);
  }
}