@use "global" as *;

.favourites-tab {
    display: flex;
    justify-content: space-between;
    gap: rem(5);
}

.favourites-tab__button {
    width: rem(102);
    height: rem(60);
    padding: rem(10) rem(10);
    display: inline-block;
    color: $main-bg-color;
    background-color: $sub-bg-color;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: $japanese-font-family;
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(20 / 14);
    @include mq(md) {
        width: rem(300);
        height: rem(90);
        padding: rem(29) rem(30) rem(26);
        text-align: right;
        font-size: rem(24);
        line-height: calc(35 / 24);
    }
}

.favourites-tab__button--p18 {
    @include mq(md) {
        padding-right: rem(18);
        padding-left: rem(18);
    }
}

.favourites-tab__item.is-open .favourites-tab__button,
.favourites-tab__button:hover {
    color: $white;
    background-color: $main-bg-color;
}


.favourites-tab__button:hover {
    transition: all 0.3s;
}

.favourites-tab__button span {
    @include mq(md) {
        position: relative;
    }
}

.favourites-tab__button span::before {
    @include mq(md) {
        background-color: $main-bg-color;
        content: "";
        display: inline-block;
        mask-image: url(../images/common/wine.svg);
        mask-repeat: no-repeat;
        mask-size: cover;
        position: absolute;
        width: rem(64);
        height: rem(64);
        top: rem(-17);
        left: rem(-68);
    }
}

.favourites-tab__item.is-open span::before,
.favourites-tab__button:hover span::before {
    @include mq(md) {
        background-color: $white;
        transition: 0.3s;
    }
}