@use "global" as *;

.global-nav {
}

.global-nav__inner {
}

.global-nav.is-active {
  display: block;
}

.global-nav__items {
  display: flex;
  gap: rem(29);
  @include mq(md) {
    gap: rem(142);
    padding-left: rem(22);
  }
}

.global-nav__item-sp {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  @include mq(md) {
    flex-direction: row;
    gap: rem(142);
  }
}

.global-nav__item-pc {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.global-nav__parent,
.global-nav__child {
  font-size: rem(16);
  line-height: calc(rem(18) / rem(16));
  color: $white;
}

.footer__sns a:hover,
.global-nav__parent a:hover,
.global-nav__child a:hover {
  opacity: 0.7;
}

.global-nav__parent {
  font-weight: $bold;
  position: relative;
}

.global-nav__parent::before {
  background-color: $white;
  content: "";
  display: block;
  width: rem(18);
  height: rem(18);
  position: absolute;
  top: rem(12);
  left: rem(-24);
  mask-image: url(../images/common/nav_icon.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.global-nav__child {
  font-weight: $regular;
  line-height: 1.125;
}

.global-nav__parent a,
.global-nav__child a {
  width: 100%;
  height: auto;
  display: inline-block;
  padding-top: rem(12);
  padding-bottom: rem(12);
}

// site-map用の指定
.global-nav__parent--black,
.global-nav__child--black {
  color: $black;
}

.global-nav__parent--black::before {
  background-color: $black;
}
