@use "global" as *;

.page-favourites__items {
    margin-top: rem(16);
    @include mq(md) {
        margin-top: rem(24);
    }
}

.page-favourites__item {
    border: 1px solid $main-bg-color;
}

.page-favourites__item.is-open {
    display: flex;
}

.page-favourites__item + .page-favourites__item {
    margin-top: rem(16);
    @include mq(md) {
        margin-top: rem(24);
    }
}