@use "global" as *;

.page-campaign__container {
  margin-top: rem(40);
  padding-right: rem(32);
  padding-left: rem(32);
  display: grid;
  gap: rem(40);
  @include mq(md) {
    padding-right: 0;
    padding-left: 0;
    max-width: initial;
    gap: rem(80) rem(40);
    grid-template-columns: repeat(2, 1fr);
  }
}

.page-campaign__pagination {
  margin-top: rem(80);
}