@use "global" as *;

.page-privacy-policy__text {
    line-height: 2;
    text-align: left;
}

.page-privacy-policy__text h2 {
    color: $black;
    font-family: $japanese-font-family;
    font-size: rem(24);
    font-weight: $normal;
    line-height: calc(35 / 24);
    @include mq(md) {
        font-size: rem(32);
        line-height: calc(46 / 32);
    }
}

.page-privacy-policy__text p,
.page-privacy-policy__text ol:first-of-type,
.page-privacy-policy__text ul {
    margin-top: rem(40);
}

.page-privacy-policy__text p,
.page-privacy-policy__text li {
    color: $black;
    font-family: $japanese-font-family;
    font-size: rem(16);
    font-weight: $regular;
}

.page-privacy-policy__text ol {
    list-style: decimal;
    padding-left: rem(20);
}

.page-privacy-policy__text ul {
    list-style: outside;
    padding-left: rem(20);
}