@use "global" as *;

.page-about-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  background: rgba(32, 32, 32, 0.80);
}

.page-about-modal img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-height: 65vh;
}