@use "global" as *;

// テーブル
.page-price__table-item {
  border: 1px solid $main-bg-color;
  @include mq(md) {
    display: flex;
    width: 100%;
  }
}

.page-price__table-item + .page-price__table-item {
  margin-top: rem(40);
}

.page-price__head {
  background-color: $main-bg-color;
  @include mq(md) {
    width: calc(200 / 700 * 100%);
    flex-grow: 1;
  }
}

.page-price__title {
  text-align: center;
  padding-top: rem(8);
  padding-bottom: rem(8);
  padding-left: rem(32);
  color: $white;
  font-family: $japanese-font-family;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(24 / 16);
  @include mq(md) {
  }
}

.page-price__title span {
  position: relative;
}

.page-price__title span::before {
  background-color: $white;
  content: "";
  display: inline-block;
  mask-image: url(../images/common/information-tab-icon.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  position: absolute;
  width: rem(24);
  height: rem(24);
  top: 50%;
  left: rem(-32);
  transform: translateY(-50%);
}

.page-price__body-item {
  min-height: rem(60);
  border-top: 1px solid $main-bg-color;
  display: flex;
  align-items: center;
  width: 100%;
}

.page-price__body-item:first-child {
  min-height: rem(64);
}

.page-price__course,
.page-price__price {
  color: $black;
  font-family: $japanese-font-family;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
}

.page-price__course {
  width: calc(240 / 345 * 100%);
  text-align: center;
  border-right: 1px solid $main-bg-color;
  @include mq(md) {
    flex-grow: 1.5;
  }
}

.page-price__price {
  padding-right: rem(16);
  width: calc(106 / 345 * 100%);
  text-align: right;
  @include mq(md) {
    width: calc(162 / 700 * 100%);
    flex-grow: 1;
  }
}