@use "global" as *;

.pagination__area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 rem(12);
  list-style-type: none;
  padding: 0;
}

.pagination__area li {
  width: rem(38);
  border: 1px solid $main-bg-color;
}

.pagination__area a {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $main-bg-color;
  font-family: $english-sub-font-family;
  font-size: rem(16);
  font-weight: $bold;
  line-height: calc(38 / 16);
  transition: 0.3s;
  cursor: pointer;
}

.pagination__area li:nth-of-type(2) {
  margin-left: rem(28);
}

.pagination__next {
  margin-left: rem(28);
}

.pagination__area .current a {
  background-color: $main-bg-color;
  color: #fff;
  pointer-events: none;
}

.pagination__area li:hover a {
  background-color: $main-bg-color;
  color: $white;
}
