@use "global" as *;

.page-contact-thanks__texts {
  text-align: center;
}

.page-contact-thanks__title {
  color: $black;
  text-align: center;
  font-family: $japanese-font-family;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(18 / 16);
}

.page-contact-thanks__text {
  margin-top: rem(40);
  color: $black;
  text-align: center;
  font-family: $japanese-font-family;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(23 / 16);
}