@use "global" as *;

.page-campaign__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(16) rem(21);
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    gap: rem(32);
    width: 100%;
    max-width: rem(744);
  }
}

.page-campaign__choice {
  margin-top: rem(40);
}

.page-campaign__pagination {
  margin-top: rem(80);
}