@use "global" as *;

.tab.is-open {
  background-color: $main-bg-color;
  color: $white;
}

.tab__button {
  display: inline-block;
  text-align: center;
  width: rem(162);
  padding: rem(5) rem(18);
  color: $white;
  font-family: $japanese-font-family;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(22 / 14); /* 157.143% */
  color: $main-bg-color;
  border: 1px solid $main-bg-color;
  background-color: $white;
}
.tab__button:hover {
  background-color: $main-bg-color;
  color: $white;
  transition: all 0.3s;
}

.tab__button:focus {
  background-color: $main-bg-color;
  color: $white;
}