@use "global" as *;

.tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, rem(162));
    gap: rem(16) rem(21);
    @include mq(md) {
        gap: rem(16) rem(32);
        grid-template-columns: repeat(auto-fit, rem(162));
    }
}