@use "global" as *;

.text-box__title {
  color: $black;
  font-family: $japanese-font-family;
  font-size: rem(24);
  font-weight: $normal;
  line-height: calc(35 / 24);
  @include mq(md) {
    font-size: rem(32);
    line-height: calc(46 / 32);
  }
}

.text-box__texts {
  margin-top: rem(40);
}

// thanksページのtitle
.text-box__thanks-title {
  color: $black;
  text-align: center;
  font-family: $japanese-font-family;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(18 / 16);
}

// thanksページのtext
.text-box__thanks-text {
  color: $black;
  text-align: center;
  font-family: $japanese-font-family;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(23 / 16);
}

.text-box__text {
  color: $black;
  font-family: $japanese-font-family;
  font-size: rem(16);
  font-weight: $regular;
}

.text-box__list-number {
  list-style: decimal;
  padding-left: rem(22);
}

.text-box__list-number li {
  padding-left: rem(2);
}

.text-box__list-interpoint {
  list-style: initial;
  padding-left: rem(20);
}
