@use "global" as *;

.two-columns__container {
  display: flex;
  flex-direction: column;
  gap: rem(80);
  @include mq(md) {
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
  }
}

.two-columns__aside {
    @include mq(md) {
        flex-shrink: 0;
    }
}